body{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin: 50px 25px;
    align-items: center;
}

.illustrator{
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
}

.hamburger{
    display: block;
    width: 22px;
    height: 22px;
    max-width: 100%;
    flex-shrink: 0;
    margin-left: auto;
    cursor: pointer;
}

.dropdown-menu{
    display: none;
    position: absolute;
    top: 105px; 
    left: 0;
    right: 0;
    z-index: 100; 
    width: 100%;
}

.dropdown-menu.open {
    display: block;
}

.menu{
    background-color: hsl(257, 27%, 26%);
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0 25px;
    padding: 40px 25px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.menu a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}

.border-bottom{
    border-bottom: 0.1px solid hsl(257, 7%, 63%);
    width: 100%;
    height: auto;
}

.sign-up-btn{
    background-color: hsl(180, 66%, 49%);
    padding: 12px 90px;
    border-radius: 30px;
    cursor: pointer;
}

.sign-up-btn2:hover{
    opacity: 0.5;
}

.more{
    text-align: center;
    margin: 50px 0 160px 0;
    padding: 0 25px;
}

.more h1{
    font-size: 40px;
}

.more p{
    font-size: 22px;
    color: hsl(257, 7%, 63%);
}

.btn{
    border: none;
    border-radius: 30px;
    padding: 18px 46px;
    font-size: 20px;
    font-weight: 600;
    background-color: hsl(180, 66%, 49%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.btn:hover{
    opacity: 0.5;
}

.bg{
    background-color: hsl(264, 24%, 96%);
}

.input-btn{
    background-image: url('/images/bg-shorten-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(257, 27%, 26%);
    margin: 0 25px;
    padding: 20px 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;
    z-index: 10;
    transform: translateY(-50%);
    position: relative;
}

.input{
    padding: 14px 10px;
    border-radius: 5px;
}

.btn1{
    padding: 14px;
    border: none;
    border-radius: 5px;
    background-color: hsl(180, 66%, 49%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.btn1:hover{
    opacity: 0.3;
}

.stats{
    text-align: center;
    margin: 10px 0 100px 0;
    padding: 0 25px;
}

.links{
    border: 1px solid transparent;
    background-color: hsl(0, 0%, 100%);
    padding: 5px 0 20px 0;
    margin: -50px 25px 90px 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    display: none;
}

.intended-links{
    color: hsl(255, 11%, 22%);
    padding: 0 10px;
}

.link-border{
    border-bottom: 0.1px solid hsl(257, 7%, 63%);
    width: 100%;
    height: auto;
    padding: 0 !important;
    margin: 0;
}

.shortened-link{
    color: hsl(180, 66%, 49%);
    padding: 20px 10px 0 10px;
}

.links button{
    margin: 12px 10px 0 10px;
}

.links a{
    text-decoration: none;
}

.copy-btn{
    font-size: 15px;
    padding: 10px 30px;
    background-color: hsl(180, 66%, 49%);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.copy-btn:hover{
    opacity: 0.5;
}

.stats h2{
    font-size: 30px;
}

.stats p{
    font-size: 22px;
    color: hsl(255, 11%, 22%);
}

.flex{
  display: flex;
  justify-content: center;
}

.line{
    border-left: 10px solid hsl(180, 66%, 49%);
    width: 60px;
    height: 60px;
    margin-left: 60px;
}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 40px 25px 0 25px;
    border: 1px solid transparent;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 70px 25px 25px 25px;
    position: relative;
}

.master-c{
    background-color: hsl(257, 27%, 26%);
    padding: 20px;
    border-radius: 50px;
    width: 50px;
    height: auto;
    max-width: 100%;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
}

.description h3{
    font-size: 30px;
    margin-bottom: 0;
}

.description p{
    margin-top: 20px;
    font-size: 18px;
    color: hsl(257, 7%, 63%);
    line-height: 1.5;
}

.bg2{
    background-image: url('/images/bg-boost-mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: hsl(257, 27%, 26%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px 0;
    margin: 90px 0 0 0;
}

.bg2 h2{
    color: hsl(0, 0%, 100%);
    font-size: 30px;
}

.btn2{
    border: transparent;
    border-radius: 30px;
    padding: 18px 46px;
    font-size: 20px;
    font-weight: 600;
    background-color: hsl(180, 66%, 49%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.btn2:hover{
    opacity: 0.5;
}


footer{
    background-color: hsl(260, 8%, 14%);
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
    margin: 20px 0;
}

.foot h4{
    color: hsl(0, 0%, 100%);
    font-size: 20px;
}

.foot a{
    text-decoration: none;
    color: hsl(257, 7%, 63%);
    font-size: 20px;
    margin: 0 0 10px 0;
    cursor: pointer;
}

.foot-img{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 30px 0 0 0;
}

.foot-x{
    cursor: pointer;
}

.error-msg {
  color: hsl(0, 87%, 67%);
  font-size: 14px;
  font-style: italic;
  position: absolute;
  left: 32px;
  margin: 0;
  pointer-events: none;
  bottom: 67px; 
}

@media (max-width: 320px){

.sign-up-btn{
    padding: 12px 70px;
}

}

.mobile-version{
    display: block;
}

.desktop-version{
    display: none;
}

@media (min-width: 1024px){

.mobile-version{
    display: none;
}

.desktop-version{
    display: block;
}

.navbar{
    display: flex;
    flex-direction: row;
    margin: 50px 90px;
    justify-content: left;
    gap: 40px;
}

.nav2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-bottom: auto;
    width: 100%;
}

.nav2 a{
    text-decoration: none;
    color: hsl(259, 13%, 39%);
}

.nav2 a:hover{
    color: hsl(0, 0%, 0%);
}

.right{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-left: auto;
}

.sign-up-btn2{
    background-color: hsl(180, 66%, 49%);
    padding: 8px 20px;
    border-radius: 30px;
    color: hsl(0, 0%, 100%) !important;
    cursor: pointer;
}

.flex{
    margin: 20px 0 60px 90px;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.more{
    text-align: left;
    padding: 0;
    width: 100%;
}

.more h1{
    font-size: 60px;
    margin-bottom: 0;
}

.more p{
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 40px;
}

.btn{
    padding: 12px 30px;
    font-size: 18px;
}

.btn{
    opacity: 1;
}

.flex1{
    width: 100%;
    margin: 0;
    padding: 0;
}

.illustrator{
    display: block;
    position: relative;
    bottom: 28px;
    width: 125%;
    height: auto;
    margin: 0;
    padding: 0;
    max-width: unset;
}

.input-btn{
    display: flex;
    flex-direction: row;
    background-image: url('/images/bg-shorten-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(257, 27%, 26%);
    padding: 40px 30px;
    max-width: 800px;
    margin: auto;
    gap: 20px;
}

.input{
    width: 100%;
    padding: 20px 0;
    border-radius: 12px;
    font-size: 17px;
    padding: 0 20px 0 20px;
}

.btn1{
    width: 25%;
    border-radius: 12px;
    padding: 20px 0;
    font-size: 17px;
}

.btn1{
    opacity: 1;
}

  .error-msg {
    bottom: 17px;
    left: 35px;
  }

.links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: -50px auto 90px auto;
    max-width: 800px;
    padding: 10px 30px;
    align-items: center;
    display: none;
}

.shortened-link{
    padding: 0;
    margin-left: auto;
}

.links button{
    margin: 0;
    margin-left: 20px;
}

.stats{
    max-width: 505px;
    margin: 0 auto 100px auto;
}

.stats h2{
    font-size: 40px;
    margin-bottom: 0;
}

.stats p{
    margin-top: 10px;
}

.desktop-grid{
    display: flex;
    flex-direction: row;
    margin: 0 30px;
    padding: 0;
}

.description{
    max-width: 400px;
    margin: 0;
    padding: 0 30px;
    border-radius: 5px;
}

.master-c{
    width: 40px;
    height: auto;
    top: -40px;
    left: 25%;
}

.description h3{
    font-size: 18px;
    padding: 40px 0 0 0;
    text-align: left;
    width: 100%;
}

.description p{
    font-size: 15px;
    text-align: left;
}

.pad1{
    margin: 40px 0 0 0;
}

.pad2{
    margin: 80px 0 0 0;
}

.bg2{
    background-image: url('/images/bg-boost-desktop.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: hsl(257, 27%, 26%);
    padding: 40px 0;
}

.bg2 h2{
    font-size: 35px;
}

.btn2{
    padding: 12px 40px;
    font-size: 16px;
}

footer{
    padding: 70px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0 60px;
}

.loogo{
    margin: -90px 0 0 0;
    margin-right: auto;
}

.foot{
    display: flex;
    text-align: left;
    margin: 0 20px;
}

.foot h4{
    font-size: 15px;
}

.foot a{
    font-size: 12px;
    margin: 0 0 4px 0;
}

.pad3{
    padding: 30px 0 0 0;
}

.foot-img{
    margin: -90px 0 0 0;
    display: flex;
    gap: 15px;
    margin-left: auto;
}

.foot-x{
    width: 18px;
    height: 18px;
}

  .hamburger-container {
    display: none !important;
  }

   .cards-container {
    flex-direction: row;
    gap: 30px;
    height: 400px;
    align-items: flex-start;
  }

  .connecting-line {
    width: 100%;
    height: 8px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  .card {
    text-align: left;
  }

  .icon-box {
    left: 30px;
    transform: none;
  }

  /* The magic stagger effect */
  .card-2 { margin-top: 40px; }
  .card-3 { margin-top: 80px; }

}

@media (min-width: 1440px){
    .input-btn{
      max-width: 1200px;
    }

    .links{
        max-width: 1200px;
    }
}



/* transitions */
.stats-section {
  background-color: hsl(225, 33%, 95%);
  padding: 80px 20px;
  text-align: center;
}

.stats-header h2 {
  font-size: 2rem;
  color: hsl(260, 8%, 14%);
  margin-bottom: 15px;
}

.stats-header p {
  color: hsl(257, 7%, 63%);
  max-width: 500px;
  margin: 0 auto 80px;
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 80px;
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
}

.connecting-line {
  position: absolute;
  background-color: hsl(180, 66%, 49%);
  width: 8px;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

.card {
  background: white;
  padding: 40px 30px;
  border-radius: 8px;
  position: relative;
  z-index: 1;
  text-align: center;
}

.icon-box {
  background-color: hsl(257, 27%, 26%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.card h3 {
  margin-top: 20px;
  color: hsl(260, 8%, 14%);
}

.card p {
  color: hsl(257, 7%, 63%);
  font-size: 15px;
  line-height: 1.6;
}


/* Container for the 3 lines */
.hamburger-container {
  width: 24px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  cursor: pointer;
}

/* The individual lines */
.hamburger-container span {
  width: 100%;
  height: 3px;
  background-color: hsl(257, 7%, 63%);
  display: block;
  transform-origin: center;
}

.input.error-input {
  border: 3px solid hsl(0, 87%, 67%);
}

.copy-btn.copied {
  background-color: hsl(257, 27%, 26%);
}

